<!DOCTYPE HTML>                                                                 
<html lang = "ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; chatset=utf8">
        <title>root</title>
    </head>
    <body>
        <h1>DBの操作ページ</h1>
        <h3>DBへの登録(レコード追加)</h3>
        <form action="/DB_operation/register">
            <input type="submit" value="登録フォーム">
        </form>
        <h3>レコード内容変更</h3>
        <form action="/DB_operation/revision">
            <input type="submit" value="変更フォーム">
        </form>
        <h3>レコードの削除</h3>
        <form action="/DB_operation/drop">
            <input type="submit" value="削除フォーム">
        </form>
    　　<h3>テーブル内容表示</h3>
        <form action="/DB_operation/display">
            <input type="submit" value="表示">
        </form>
        <br>
        <br>
        <form action="/">
            <input type="submit" value="root">
        </form>

    </body>
</html>
