<!HTML DOCUMENT>                                                                                                                                                                                                                  
<html lang = "ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; chatset=utf8">
        <title>表示</title>
    </head>
    <body>
        <h1>表示</h1>
        <!-- 表示したい(phpもありだよね)  -->
        <form action="/">
            <input type="submit" value="root">
        </form>
    </body>
<html>
