<!HTML DOCUMENT>                                                                                                                                                                                                                  
<html lang = "ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; chatset=utf8">
        <title>削除フォーム</title>
    </head>
    <body>
        <h1>削除フォーム</h1>
        <div>
            <form method="POST" action = "/DB_operation/drop/do")
                <p>学籍番号</p>
                <input type="text" name="Student_ID">
                <br>
                <p>パスワード</p>
                <input type="text" name="passwd">
                <br>
                <input type="submit" value="削除">
            </form>
        </div>
    </body>
</html>

