<!HTML DOCUMENT>
<html lang = "ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; chatset=utf8">
        <title>変更フォーム</title>                                                                                                                                                                                               
    </head>
    <body>
        <h1>変更フォーム</h1>
        <div>
            <form method="POST" action = "/DB_operation/rivision/do")
                <h3>変更前情報</h3>
                <p>学籍番号</p>
                <input type="text" name="befor_Student_ID">
                <br>
                <p>パスワード</p>
                <input type="text" name="before_passwd">
                <br>
                <br><br>
                <h3>変更後情報</h3>
                <p>学籍番号</p>
                <input type="text" name="after_Student_ID">
                <br>
                <p>パスワード</p>
                <input type="text" name="after_passwd">
                <br>                                                                                                                                                                                                              
                <input type="submit" value="変更">
            </form>
        </div>
    </body>
</html>                     
