<!DOCTYPE HTML>
<html lang = "ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; chatset=utf8">
        <title>root</title>
    </head>
    <body>
        <form method="POST" action="/show"> 
            <dev>
                <h1>input form</h1>
            </dev>
            <input type="text" name="Student_ID">
            <input type="submit" value="Send">
        </form>
        <form action="/DB_operation">
            <dev>
                <p>Accsess to DB</p><br>
                <input type="submit" value="DB operation">
            <dev>
        </form>
    </body>
</html>


