<!-- DOCUMENTS HTML -->
<html>
    <head>
        <title> DB操作 </title>
    </head>
    <body>
        <h1>DB操作</h1>

        <dev>
            <form method='GET' action='/db_operation/print'>
                DB一覧表示 <input type='submit' value='表示'>
            </form>
        </dev>
        <dev>
            <form method='GET' action='/db_operation/add'>
                レコード追加 <input type='submit' value='こ↑こ↓'>
            </form>
        </dev>
        <dev>
            <form method='GET' action='/db_operation/update'>
                レコード変更 <input type='submit' value='こ↑こ↓'>
            </form>
        </dev>
        <dev>
            <form method='GET' action='/db_operation/drop'>
                レコード削除 <input type='submit' value='こ↑こ↓'>
            </form>
        </dev>
    </body>
</head>
