<!-- DOCUMENTS HTML -->
<html>
    <head>
        <title> login </title>
    </head>
    <body>
    <h1>login form</h1>
    {% if Student_id %}
        <h3>{{ Student_id }}さんのカードを読み取りました。</h3>
    {% endif%}
    
    <dev>
        <form method='POST' action='/login/auth' >
            <p>パスワード</p>
            <input type='password' name='passwd'>
            <input type='submit' value='send'>
        </form>
    </dev>
    <dev>
        <form method='POST' action='/db_operation'>
            <p>DB操作</p>
            <input type='submit' value='DB操作'>
        </form>
    </dev>
    <!--
    <dev>
        <form method='POST' action='/db_operation/print'>
            <p>テーブルを表示</p>
            <input type='submit' value='表示'>
        </form>
    </dev>
    -->
    </body>
</head>
